:root {
    --foderaRed: #BF2B2B;
    --foderaRedHover: rgb(119, 22, 22);
}

body {
    margin: 0;
    font-family: 'Lato',
        sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.navlinks p:hover {
    color: red;
}

a:visited {
    color: black;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

/*? ==================== WHO WANTS A BURGER?! ==================== */
.hamburger {
    display: none;
}

.kebab {
    display: none;
}

.mobileMenus {
    display: none;
}


.mobile-logo {
    display: block;
}

.mobile-searchNav {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: var(--foderaRed);
    display: block;
    transition: 0.3s;
}

.sidenav button {
    font-size: 14px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.dropdown-btn {
    display: block;
    padding: 5px 28px 5px 15px;
    text-decoration: none;
    font-size: 20px;
    color: var(--foderaRed);
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
    color: var(--foderaRedHover);
}

/* Add an active class to the active dropdown button */
.active {
    background-color: rgb(60, 61, 61);
    color: white;
}

.active:hover {
    color: white;
}

.active a:hover {
    color: var(--foderaRedHover);
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: white;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    color: var(--foderaRed);
    float: right;
    padding-right: 8px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 36px;
    margin-left: 50px;
}



/*? ====================== BBQ'S OVER BUD =========================  */

.header {
    border-bottom: 1px solid rgb(208, 208, 208)
}

.headermain {
    width: 80%;
    margin: auto;
    padding: 2em 4em 0 4em;
    display: flex;
    justify-content: space-between;
}

.searchbar {
    display: flex;
    height: max-content;
    justify-content: center;
    align-items: center;
}

.searchbar input {
    outline: none;
    font-size: 14px;
    width: 180px;
    padding: .8em;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(172, 166, 166);
}

.searchbar button {
    background: var(--foderaRed);
    width: 60px;
    font-size: 14px;
    margin-left: 5px;
    outline: none;
}

.searchbar img {
    z-index: 99;
    width: 20px;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: auto;
}

.nav {
    display: block;
    width: 90%;
    margin: auto;
    padding: 2em 0 2em 0;
}

.navlinks {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

.navlinks li {
    list-style: none;
    width: max-content;
}

.dropdown {
    display: flex;
    align-items: center;
    font-size: 14px;
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--foderaRed);
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.caret {
    color: var(--foderaRed);
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 0 dotted;
    vertical-align: middle;
}

.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    top: 27%;
    width: 10%;
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid var(--foderaRed);
    opacity: 0.9;
}

.dropdown-content a {
    float: none;
    color: var(--foderaRed);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/*? =============== END OF HEADER CSS ===============  */

.banners img {
    display: block;
    max-width: 80%;
    margin: auto;
    margin-bottom: 0;
}

.footer {
    margin: 0;
}

.mailinglist {
    background: var(--foderaRed);
    color: white;
    display: grid;
    grid-template-columns: 2fr 0.1fr 4fr;
    height: max-content;
}

.mailinglist a {
    color: white;
}

.mailinglist a:visited {
    color: white;
}

.mailinglist img {
    margin-top: 4em
}

.ctaleft {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.ctaleft h3 {
    font-family: 'Roboto Slab',
        'Georgia',
        serif;
}

.ctaright {
    display: grid;
    grid-template-rows: 1fr;
}

.ctainputs {
    padding: 1em;
}

.ctainputs input {
    padding: 1.3em;
    border: 1px solid #dedede;
    margin-left: 5px;
}

.firstname-input {
    font-size: 14px;
    width: 80px;
    height: max-content;
    padding: 1em;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(172, 166, 166);
}

.lastname-input {
    font-size: 14px;
    width: 80px;
    height: max-content;
    padding: 1em;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(172, 166, 166);
}

.email-input {
    font-size: 14px;
    width: 180px;
    height: max-content;
    padding: 1em;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(172, 166, 166);
}

.ctainputs button {
    background: var(--foderaRed);
    color: white;
    font-weight: lighter;
    padding: 0.6em;
    width: 200px;
    font-size: 14px;
    margin-left: 5px;
    border: 2px solid white;
}

.subfooter {
    padding: 3em;
    height: max-content;
    text-align: center;
}

.subfooter img {
    display: block;
    margin: auto;
}

.subfooternav {
    display: block;
    padding-top: 2em;
}

.subfooternav a {
    margin-left: 10px;
    font-size: 14px;
    color: var(--foderaRed);
}

.subfooternav a:hover {
    color: black;
}

.sub-subfooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialicons {
    display: flex;
    float: right;
    padding-bottom: 2em;
    padding-right: 4em;
}

.socialicons img {
    max-width: 30px;
    max-height: 30px;
    padding: .1em;
}

.copyright {
    display: flex;
    float: left;
    padding-bottom: 2em;
    padding-left: 4em;
    color: grey;
}


/*!! IMAGE SLIDESHOW CSS  */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.prev,
.next {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



/*TODO ================== MEDIA QUERIES ======================== */

@media screen and (max-width: 1070px) {
    .headermain {
        display: none;
    }

    .mobileMenus {
        display: flex;
        height: 3em;
        justify-content: space-between;
        align-items: center;
    }

    .mobileMenus img {
        height: 80%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        padding-left: 1%;
        color: var(--foderaRed);
        font-size: 2em;
    }

    .kebab {
        display: block;
        cursor: pointer;
        padding-right: 1%;
        color: var(--foderaRed);
        font-size: 2em;
        float: right;
    }

    .mobile-searchNav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.2s;
        padding-top: 2%;
    }

    .mobile-searchNav-top {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .mobile-searchNav .closebtn-right {
        color: var(--foderaRed);
        font-size: 36px;
        margin: 0;
        text-align: center;
    }

    .sideSearchbar {
        display: flex;
        height: 40px;
        justify-content: right;
        align-items: center;
    }

    .sideSearchbar input {
        font-size: 14px;
        width: 120px;
        padding: 5%;
        background-color: rgb(220, 220, 220);
        color: rgb(0, 0, 0);
        border: 1px solid rgb(172, 166, 166);
    }

    .sideSearchbar button {
        background: var(--foderaRed);
        width: 100%;
        height: 90%;
        font-size: 12px;
        margin-left: 5%;
    }

    .sideSearchbar img {
        z-index: 99;
        width: 20px;
        padding-top: 25%;
        padding-bottom: 25%;
        margin: auto;
    }

    .phoneNumber {
        color: var(--foderaRed);
        margin-top: 50%;
        margin-left: 25%;
    }

    #nav {
        display: none;
    }

    .headerlogo {
        display: none;
    }

    .mobile-logo {
        display: block;
    }
}


@media screen and (max-width: 830px) {
    .mailinglist {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 1%;
    }

    .mailinglist img {
        display: none;
    }

    .ctaright input {
        display: flex;
        flex-direction: column;
        margin: 1% auto;
        width: 90%;
    }

    .ctainputs button {
        margin: 1% auto;
    }


}

@media screen and (max-width: 500px) {
    .sub-subfooter {
        display: flex;
        flex-direction: column-reverse;
    }

    .socialicons {
        width: 100%;
        margin: auto;
        padding: 0;
        justify-content: space-evenly;
    }

    .copyright {
        width: 100%;
        margin: auto;
        padding: 0;
        float: none;
        justify-content: center;
    }

}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}